{
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 80,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": false
}
